@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('../fonts/open_sans/stylesheet.css');

/*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


/*MOBILE*/
.section, 
.nav-footer, 
.profile, 
.form, 
img {
	width:100%;
	margin:auto;
}

/* Header */ 
header {
	background: #ffffff;

}

.logo {
	float: left;
	width:190px;
	padding: 15px;
	box-sizing: border-box;
	background: #ffffff;
	color:#72a9ae;
	font-family:comfortaa, sans-serif;
	font-size:200%;
}

.d-nav {
	clear: both;
	display: none;
}

.d-nav ul {
	width:100%;
}

.d-nav li {
	max-width: 20%;
	float:left;
	padding: 10px;
	box-sizing:border-box;
	position: relative;
}

.navlist a {
	display: block;
	box-sizing: border-box;
	padding: 10px;
	background: #72a9ae;
}
.navlist {
	background:#72a9ae;
}

.d-nav li:first-child a {
	border-left: 0;
} 

.ham {
	float: right;
}

.ham {
		
		height: 15px;
		margin:15px;
		padding-top: 5px;
		position: relative;
		float: right;
		cursor: pointer;
	}

	.ham, .ham:before, .ham:after {
		width: 30px;
		border-top: 5px solid teal;
	}

	.ham:before {
		content: "";
		display:block;
		position: absolute;
		background: #72a9ae;
	}

	.ham:after {
		content:"";
		display: block;
		background: #72a9ae;
		position: absolute;
		bottom:0;
	}

.m-nav {
	width:100%;
	clear: both;
	position: absolute;
	display: none;
	z-index:1000;

}

.m-nav-cont {
	position: relative;
	clear:both;
}

.m-nav li {
	box-sizing: border-box;
	width:100%;
	padding: 10px;
	background: #72a9ae;
	border-bottom: 3px solid #ffffff;

}

/*MAIN*/
main {
	width:100%;
	box-sizing:border-box;
	position:relative;
	background:url("../img/chevron.png");
}

article,
aside {
	width:100%;
	padding:10px;
	box-sizing:border-box;
	position:relative;
}

p,
a,
h2,
td,
th,
label {
	font-family:bt2medium, sans-serif;
}

h2 {
	float:left;
	width:100%;
	margin:10px;
	padding:10px;
	box-sizing:border-box;
	position:relative;
	color:#72a9ae;
}

/*Schedule Styling*/
.table {
	width:100%;
	padding:50px;
	box-sizing:border-box;
	position:relative;
	text-align:center;
	border:1px solid grey;
}

th {
	border:1px solid grey;
	padding:10px;
	background:#ffffff;
	color: #72a9ae;
}

td {
	border:1px solid grey;
	padding:10px;
}

tr:nth-child(even) {
	background:#ffffff;
}

tr:nth-child(odd) {
	background:#dddddd;
}

/*Form*/
.edit-prof {
	width:100%;
	box-sizing:border-box;
	position:relative;
	align-content:center;
}

/*Profile*/
.profile {
	width:100%;
	box-sizing:border-box;
	position:relative;
	text-align:center;

}

#prof-pic {
	float:left;
	max-width:200px;
	box-sizing:border-box;
	position:relative;
	border-radius:50%;
}
/*Footer*/

.nav-footer {
	width:100%;
	padding:10px;
	box-sizing:border-box;
	position:relative;
	text-align:center;
	background:#454545;
}

.fab,
.far {
	color:#72a9ae;
}

/*ANIMATION*/
 
.overlay-cont {

			position: fixed;
			width: 100%;
			height: 100%;
			background: radial-gradient(#a7a7a7, #e4e4e4);
			z-index:1001;
			display:none;
		}

		.swod {

			position: absolute;
			left: 50%;
			top: 50%;
			width: 150px;
			height: 150px;
			margin: -75px 0 0 -75px;
			border: 15px solid #d9d9d9;
			border-radius: 50%;
			border-top: 15px solid #72a9ae;
			animation: 
				spin 2s linear infinite,
				change-color 4s ease-in-out infinite,
				border-radius-change 1s ease infinite;
			

		}

		@keyframes spin {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}

		@keyframes change-color {
			0% {
				border-top-color: #72a9ae;
			}
			50% {
				border-top-color: #ff33cc;
			}
			100% {
				border-top-color: #72a9ae;
			}
		}

		@keyframes border-radius-change {

			0% {
				border-radius: 50%;
			}

			50% {

				border-radius: 0%;
			}

			100% {

				border-radius: 50%;
			}
		}


/*DESKTOP*/

@media only screen and (min-width: 768px) {
	
	/*header styles*/
	header, main, footer {

		max-width: 1024px;
		margin: 0 auto;

	}

	.d-nav {
		display: block;
	}

	.m-nav-cont {
		display: none;
	}
	.m-nav {
		display: none;
	}

	.ham {
		display: none;
		height: 15px;
		margin:15px;
		padding-top: 5px;
		position: relative;
		float: right;
		cursor: pointer;
	}

	.ham, .ham:before, .ham:after {
		width: 30px;
		border-top: 5px solid black;
	}

	.ham:before {
		content: "";
		display:block;
		position: absolute;
		background: black;
	}

	.ham:after {
		content: "";
		display: block;
		background: black;
		position: absolute;
		bottom: 0;
	}

/*ABOUT*/
.title, {
	width:100%;
	float:left;
	box-sizing:border-box;
	position:relative;
	color:#72a9ae;
}

.about-art {
max-width:57%;
float:left;
box-sizing:border-box;
position:relative;
}

/*About Photo*/
#sidephoto {
	max-width:43%;
	float:left;
	box-sizing:border-box;
	position:relative;
	padding:20px;
	margin-top:40px;
}

/*Profile*/
#prof {
	max-width:50%;
	float:left;
	box-sizing:border-box;
	position:relative;
	align-items: center;
	background-color:#ffffff;
} 

/*Schedule*/
table {
	float:left;
	max-width:90%;
	box-sizing:border-box;
	position:relative;
	margin:40px;
}

/*Edit Profile*/
#edit-prof {
	float:left;
	max-width:50%;
	box-sizing:border-box;
	position:relative;
	padding:10px;
	margin-top:10px;
}

.prof-form {
	width:100%;
	float:left;
	box-sizing:border-box;
	position:relative;
	padding:10px;
}

label {
	float:left;
	box-sizing:border-box;
	position:relative;
}

input,
select {
	float:right;
	box-sizing:border-box;
	position:relative;
}

#submit {
	max-width:100%;
	float:right;
	box-sizing:border-box;
	position: relative;
	margin:15px;
}


/*Display Profile*/
#mockprofile {
	max-width:50%;
	float:left;
	box-sizing:border-box;
	position:relative;
	border-bottom:2px solid grey;
	border-right:2px solid grey;
}

#profilepic {
	float:left;
	max-width:100%;
	box-sizing:border-box;
	position:relative;
}

/*Footer*/

footer {
	background:#454545;
}

.nav-footer {
	width:30%;
	float:left;
	box-sizing:border-box;
	position:relative;
}